NEXTAUTH_SECRET=random-nextauth-secret-key
BCRYPT_SALT=10
JWT_FORGET_PASSWORD_SECRET=random-jwt-forget-password-secret-key

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/n8n
REDIS_URL=redis://localhost:6379

GOOGLE_CLIENT_ID=google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=google-client-secret
GOOGLE_REFRESH_TOKEN=google-refresh-token
GOOGLE_USER=google-user-id